---
import { Image } from "astro:assets";
import mailIcon from "../../public/email.png"
import phoneIcon from "../../public/phone.png"
import mapsIcon from "../../public/pin.png"
---

<div class="flex justify-center">
    <div class="bg-slate-200 px-5">

        <div class="flex pb-2">
            <div class="text-2xl">
                Heike Wanning
            </div>
        </div>

        <div class="grid grid-cols-2 max-w-2xl py-10">
            <Image class="w-10 object-cover" src={mapsIcon} alt="Maps Icon"/>
            <div>
                Am Wiesenweg 23 <br/>
                23769 Fehmarn OT. Burg
            </div>

            <Image class="w-5" src={phoneIcon} alt="Phone Icon"/>
            <div >
                04371-864443
            </div>    

            <Image class="w-5" src={mailIcon} alt="Mail Icon"/>
            <div>
                heike@fehmarn-yoga.de
            </div>

        </div>
    </div>
</div>
