---
const {title} = Astro.props
const {description} = Astro.props
---
<div class="image__overlay">
    <div class="image__title">{title}</div>
    <div class="image__description">{description}</div>
</div>