---
const {text} = Astro.props
---
<div class="flex justify-center">
    <div class="max-w-xl py-16 ">
            <div class="text-center font-body text-2xl md:text-4xl md:font-normal xl:text-5xl xl:font-normal">
                {text}
            </div>
    </div>
</div>