---
import MainLayout from "../layouts/main-layout.astro";

import ImageSection from "../components/ImageSection.astro";
import HeroText from "../components/Hero.astro"
import { Image } from "astro:assets";
---

<MainLayout title="Fehmarn Yoga">
    <h1>Page doesnt exist</h1>
</MainLayout>
