---
import MainLayout from "../layouts/main-layout.astro";

import ImageSection from "../components/ImageSection.astro";
import HeroText from "../components/Hero.astro"
import { Image } from "astro:assets";
---

<MainLayout title="Fehmarn Yoga">
    <div class="flex justify-center" >
        <HeroText/>
    </div>
    <div>
    <!-- <div class="py-5"> -->
        <ImageSection />
    </div />
</MainLayout>
