---
import { Image } from "astro:assets";
import bigLogo from "../assets/bigLogo.png";
---

<div class="flex flex-col ">
    <Image class="self-center p-10" src={bigLogo} alt="Logo" />
    <h1 class="self-center text-4xl sm:text-6xl lg:text-7xl font-bold py-20">yin yoga & meditation</h1>
</div>