<style>
    h1 {
        font-family: "Inter Variable", sans-serif;
    }
</style>
<div class="max-w-2xl py-10">
        <h1 class="text-center text-3xl">
            Mein Name ist Heike Wanning. Ich praktiziere Yin Yoga auf der Insel Fehmarn.
        </h1>
</div>