---
import { Image } from "astro:assets";
import Logo from "../assets/Logo_765x765.png";
import BigLogo from "../assets/Logo_1526x1526.png";

---

<div class="flex flex-col ">
    <Image class="self-center pt-3 p-10 lg:w-8/12 xl:w-6/12" src={BigLogo} alt="Logo" />
    <h1 class="self-center text-4xl sm:text-6xl lg:text-7xl font-bold pt-5 pb-12">yin yoga & meditation</h1>
</div>