---
import { Image } from "astro:assets";
import logo from "../../public/Logo.png" 
---
<div class="flex justify-left items-center pb-5">
    <Image class="w-8 h-8" src={logo} alt="Logo"/>
    <h1 class="text-3xl pl-2">Fehmarn Yoga</h1>
</div>