---
import { Image } from "astro:assets";
---
<div class="flex justify-left items-center pb-5">
    <Image class="w-8 h-8" src="/logo.webp" width="93" height="104" alt="Logo"/>
    <h1 class="text-3xl pl-2">Fehmarn Yoga</h1>
</div>