---
const {text} = Astro.props
---
<div class="flex justify-center">
    <div class="max-w-2xl py-10">
            <h1 class="text-center text-3xl">
                {text}
            </h1>
    </div>
</div>